
  .mobile-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      max-width: 450px;
      margin: 0 auto;
      background-color: #2c2c2c;
      color: white;
      overflow: hidden;
      font-family: Roboto, "Helvetica Neue", sans-serif;
  }

  /* Header */
  .app-header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #7f1d1d;
      padding: 8px;
      height: 56px;
      box-sizing: border-box;
  }

  .header-title {
      display: flex;
      flex-direction: column;
      flex-grow: 1;
      margin-left: 8px;
      font-size: 11px;
      font-weight: bold;
  }

  .text-white {
      color: white !important;
  }

  .header-actions .mat-icon-button {
      color: white;
  }

  /* Contenido Principal */
  .main-content {
      flex: 1;
      
        height: auto;
        overflow: visible;
  }

 
.mat-card {
    width: 85%;
}
  .action-btn {
      background: none;
      border: none;
      color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;
      font-size: 13px;
  }

  .action-btn .mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
      margin-bottom: 8px;
      color: #90caf9;
  }

  /* Barra inferior */
  .bottom-nav {
      display: flex;
      justify-content: space-around;
      align-items: center;
      background-color: #ffffff;
      height: 64px;
      border-top: 1px solid #e0e0e0;
  }

  .nav-item {
      background: none;
      border: none;
    
      padding: 8px;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;
  }

  .nav-item .mat-icon {
      font-size: 28px;
      width: 28px;
      height: 28px;
  }

  /* Icono activo con fondo rojo cuadrado */
  .nav-item.active .mat-icon {
      color: white;
      background-color: #d32f2f;
      border-radius: 4px;
      padding: 4px;
  }

  .nav-item.center-add .mat-icon {
      color: #7f1d1d;
      font-size: 36px;
      width: 36px;
      height: 36px;
  }
  .hover-overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 14px;
      opacity: 0;
      transition: opacity 0.3s;
  }

.error-text {
    color: red;
    font-weight: bold;
    font-size: 14px;
}
/* Contenedor de filtros superiores */
.filter-group {
    margin-bottom: 24px;
}



.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Insignia amarilla para el texto N/A */
.plate-badge {
    background-color: #ffb300;
    /* Amarillo vivo de la imagen */
    color: #000000;
    width: 70%;
    max-width: 200px;
    padding: 16px 0;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.plate-badge-inactivo {
    background-color: #a3a2a0;
    /* Amarillo vivo de la imagen */
    color: #000000;
    width: 70%;
    max-width: 200px;
    padding: 16px 0;
    text-align: center;
    border-radius: 6px;
    margin-bottom: 16px;
    margin-top: 16px;
}
.plate-badge span {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
}
.plate-badge-inactivo span {
    font-size: 32px;
    font-weight: 800;
    letter-spacing: 2px;
}
/* Texto de estado inferior */
.status-text {
    font-size: 15px;
    font-weight: 500;
    color: #333333;
    margin: 0;
}
::ng-deep .mat-card.vehicle-card {
    background-color: #ffffff !important;
        border: 1px solid #e8e8e8 !important;
        border-radius: 12px !important;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05) !important;
        padding: 24px !important;
            left: -15px;
}
.mat-tab-group {
    position: relative;
    display: flex;
    flex-direction: column;
    top: 10px;
}

.tabs-rojas ::ng-deep .mat-tab-label {
    background-color: #4e4c4c71;
    color: #fffdfd !important;
    /* Texto oscuro para contraste */
    opacity: 1;
    /* Quita la opacidad por defecto de Angular Material */
}
.tabs-rojas ::ng-deep .mat-tab-label.mat-tab-label-active {
    background-color: #7f1d1d !important;
    /* Rojo Material */
    color: #ffffff !important;
    /* Texto blanco para legibilidad */
}

.tabs-rojas ::ng-deep .mat-tab-group.mat-primary .mat-ink-bar {
    background-color: #ffb300;
    /* Un rojo más oscuro o transparente si prefieres ocultarla */
}
.example-button-container
{
    position: relative;
    display: flex;
    left: 85%;
}
.sedes-box {
        color: #ffffff;
        background-color: #7f1d1d;
        border-radius: 10px;
        padding: 7px;
        display: inline-flex;
}
:host ::ng-deep .mat-tab-body-content {
    overflow: visible !important;
    /* Permite que el contenido se estire hacia afuera */
    height: auto !important;
    /* Evita que mantenga una altura fija interna */
}
:host ::ng-deep .mat-tab-label
{
    min-width: 100px !important; 
}